* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  position: relative;
  background-color: #e5e9ef;
  color: #333;
  font-family: "proxima-nova", "Lucida Grande", "Lucida Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-toggle {
  font-size: 32px;
  color: white;
  background-color: inherit;
  text-align: center;
  position: relative;
  top: 40%;
  margin-left: 5%;
  text-decoration: none;
  text-shadow: 1px 1px 2px black, 0 0 5px #002855;
}

#active {
  display: none;
}

.topnav {
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 1px rgba(0, 40, 85, 0.15);
}

.topnav a {
  float: left;
  display: inline;
    color: #003570;
  background-color: inherit;
  text-align: center;
  width: 25%;
  padding: 20px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #f6c036;
    color: #003570;
}

.topnav .icon {
  display: none;
}

.header__img-bg {
  background: url(images/2018banner.png) center top/cover no-repeat;
  width: 100%;
  display: inline-block;
  height: 180px;
}

.site-logo .logo {
  top: 50%;
  position: relative;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 40%;
}

.wrapper, section {
  height: 100% !important;
  margin: 0 auto;
  overflow: hidden;
}

.content {
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
}

h4 {
  text-align: left;
  padding: 2%;
  font-size: 14px;
  box-shadow: 0 2px 1px rgba(0, 40, 85, 0.15);
}

nav ul {
  list-style-type: none;
  height: 400px;
}

.countries {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: 0px 2px 1px rgba(0, 40, 85, 0.15);
  overflow:auto;
}

.col-1 {
  overflow:auto;
  float: left;
  background-color: white;
  width: 25%;

  list-style-type: none;
  box-shadow: 0 2px 3px rgba(0, 40, 85, 0.15);
}

#map {
margin: 2%;
}

.wrapper1{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  color: inherit;
  background-color: white;
box-shadow: 0 2px 3px rgba(0, 40, 85, 0.15);
}

.countries a {
  text-decoration: none;
  color: #003570;
  display: block;
  border: 1px solid #003570;
  list-style-type: none;
  font-size: 1.5vw;
  text-align: center;
  width: 100%;
  height: 58px;
  overflow:auto;
  padding-top: 6%;

}

.countries {

  height: 350px;
}

.countries a:hover {
  background-color: #f8eecc;
  color: #003570;
}

.partners img {
  float: left;
  display: inline;
  width: 33.33%;
  height: 10%;
  margin-bottom: 1%;
  background-color: white;
  box-shadow: 0 2px 3px rgba(0, 40, 85, 0.15);
}

.partners{
margin-left: 2%;
margin-right: 2%;
margin-bottom: 2%;
}

h5 {
  margin-left: 2%;
  color: #003570;
}

footer {
  background-color: #002855;
  color: #fff;
  clear: both;
  bottom: 0;
  padding-top: 2%;
  text-shadow: .5px .5px black;
  text-align: center;
  width: 100%;
  height: 180px;
  font-size: 14px;
}

footer a, footer p {
  color: white;
  background-color: inherit;
  text-decoration: none;
}

footer a {
  text-decoration: underline;
}

.location {
  width: 50%;
  float: left;
}


@media only screen and (max-width:600px) {
  /* For mobile phones: */
.header__img-bg{
  height: 100px;
}
  .nav-toggle{
    display: none;
  }

.topnav a, .topnav, .location, .information{
    width: 100%;
  }

.topnav a:not(:first-child) {
  display: none;
}
#active {
  width: 80%;
  display: block;
}
    .topnav a.icon {
      width: 18%;
      float: right;
      display: block;
    }

    .topnav a:hover {
      background-color: white;
        color: #f6c036;
    }

    .topnav .active {
      position: absolute;
      right: 0;
      top: 0;
    }

    .topnav.responsive {
      position: relative;

    }
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      display: block;
      text-align: center;
    }

    .partners img{
      width: 100%;
      margin-bottom: 2%;
    }

    .countries a {
      font-size: 14px;
      padding-top: 16px;
    }

    #map{
      width: 100%;
    }
  }

  @media only screen and (device-width: 768px) {
    /* For general iPad layouts */
    .nav-toggle {
font-size: 26px;
text-align: center;
    }

    .col-1 a{
  padding-top: 13%;
     }
  }
